<div class="contents row">
  <div class="container">
    <h2>ユーザー編集</h2>
    <div class="form-content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :"ニックネーム" %>
          <%= f.text_field :nickname, autofocus: true, maxlength: "8", class: "form-input" %>
       </div>

        <div class="field">
          <%= f.label :"Eメール" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :"新しいパスワード(変更の場合のみ記入)" %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :"新しいパスワード(確認)" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
        </div>

        <div class="field">
          <%= f.label :"現在のパスワード(必須)" %><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-input" %>
        </div>

        <div class="field">
        <%= f.label :"お名前(全角)" %>
        <div class="input-name-wrap">
          <div class="form-first-name">
            <%= f.text_field :first_name_kanji, class:"form-first-input", placeholder:"例) 田中" %>
          </div>
          <div class="form-last-name">
            <%= f.text_field :last_name_kanji, class:"form-last-input", placeholder:"例) 太郎" %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.label :"お名前カナ(全角)" %>
        <div class="input-name-wrap">
          <div class="form-first-name">
            <%= f.text_field :first_name_kana, class:"form-first-input", placeholder:"例) タナカ" %>
          </div>
          <div class="form-last-name">
            <%= f.text_field :last_name_kana, class:"form-last-input", placeholder:"例) タロウ" %>
          </div>
        </div>
      </div>

        <div class="actions">
          <%= f.submit "編集" %>
        </div>
      <% end %>
    </div>
    <div class="sub-button">
      <div class="delete-user">
        <%= link_to registration_path(resource_name), data: { confirm: "アカウントを削除しますか？" }, class:"trash-alt-user", method: :delete do %>
        <% end %>
      </div>
      <div class="cancel-edit-user">
        <%= link_to "戻る", :back %>
      </div>
    </div>
  </div>
</div>
