<div class="contents row">
  <div class="container">
    <h2>スケジュール編集</h2>
    <div class="form-content">
      <%=form_with model: [@room, @schedule], local: true do |f| %>
        <div class="field">
          <%= f.label :ルーム名 %>
          <%= f.text_field :name, autofocus: true, class: "form-input" %>
        </div>
        <div class="field">
          <%= f.label :シフト提出日程 %>      
        </div>
        <div class="period">
          <div class="field">
            <%= f.date_field :first_day, class: "form-shift first_date" %>
          </div>
          <div class="field last_day">
            <%= f.label :〜 %>      
            <%= f.date_field :last_day, class: "form-shift last_date" %>
          </div>
        </div>
        
        <div class="actions">
          <%= f.submit "編集" %>
        </div>
      <% end %>
    </div>
    <div class="cancel-create-room">
      <%= link_to "戻る", room_path(@room.id) %>
    </div>
  </div>
</div>  