<div class="schedule-wrapper">
  <div class="schedule-header">
    <div class="schedule-title">
      <h1><%= @schedule.name %></h1>
    </div>
    <% unless @shift == nil %>
      <div class="shift-check">
        <%= link_to "提出シフトを確認する", room_schedule_shift_path(@schedule.room_id, @schedule.id, @shift.id) %>
      </div>
    <% end %>
  </div>
  <div class="schedule-main-screen">
    
  </div>
  <div class="schedule-footer">
    <div class="schedule-footer-main"> 
      <div class="submit-shift">
        <%= link_to "シフトを修正する", "#" %>
      </div>
      <% if @shift == nil %>
        <div class="submit-shift">
          <%= link_to "シフトを提出する", new_room_schedule_shift_path(@schedule.room_id, params[:id]) %>
        </div>
      <% end %>
    </div>
      <div class="back-to-top">
        <%= link_to "戻る", room_path(@room.id) %>
      </div>
  </div>
</div>