<div class="contents row">
  <div class="container">
  <h2>シフト提出</h2>
  <%=form_with model: [@room, @schedule, @shift], local: true do |f| %>
    <div class="field">
      <%= f.label :シフト希望 %>
      <%= f.text_field :shift, autofocus: true, class: "form-input" %>
    </div>
    <div class="field">
      <%= f.label :備考 %>
      <%= f.text_area :comment, class: "form-text-area" %>
    </div>
    <div class="actions">
        <%= f.submit "追加" %>
      </div>
  <% end %>
  <div class="cancel-create-room">
    <%= link_to "戻る", room_schedule_path(@room.id, @schedule.id) %>
  </div>
</div>  