<div class="schedule-wrapper">
  <div class="schedule-header">
    <div class="schedule-title">
      <h1><%= @schedule.name %></h1>
    </div>
  </div>
  <div class="schedule-main-screen">
    <div class="submitted">
      <div class="submitted-shift-left">
        <div class="submitted-shift-user-name">
          <%=link_to @room.name, "#" %>
        </div>
      </div>

      <div class="submitted-shift-right">
        <% @shifts.each do |shift|%>
          <div class="submitted-shift-block" >
            <div class="submitted-shift-date">
              <% if shift.work_day.present?%>
                <P><%= shift.work_day.strftime('%m/%d') %></p>
              <% else %>
                <p><%= "none" %></p>
              <% end %>
            </div>
            <div class="submitted-shift-detail">
              <% if shift.check.present? %>
                <p><%= shift.check %></p>
              <% elsif shift.clock_in.present?%>
                <p><%= shift.clock_in.strftime('%H:%M') %></p>
             <% else %>
               <p><%= "" %></p>
              <% end %>
            </div>
            <div class="submitted-shift-detail">
              <% if shift.clock_out.present? %>
                <p><%= shift.clock_out.strftime('%H:%M') %><%= "" %></p>
              <% else %>
                <p><%= "" %></p>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="schedule-footer">
    <div class="submit-shift">
      <%= link_to "シフトを変更する", "#" %>
    </div>
    <div class="back-to-top">
        <%= link_to "戻る", :back %>
      </div>
  </div>
</div>