<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="user-detail">
        <div class="user-image">
          <%= image_tag 'icon_sanple.png' , size: '80x80' %>
        </div>
        <div class="user-name">
          <%= link_to current_user.nickname, "#" %>
        </div>
      </div>
      <div class="create-room">
       <%= link_to new_room_path, class:"bars" do %>
         <i class="far fa-bars"></i>
       <% end %>
      </div>
    </div>
    <div class="side-bar-main">
      <% current_user.rooms.each do |room| %>
        <div class="room">
          <div class="room-name">
            <%= link_to room.name, room_path(room.id) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="shift-screen">
    <div class="shift-screen-header">
      <div class="left-header">
        <div class="header-title">
          <%= link_to "", "#" %>
        </div>
      </div>
      <div class="main-header">
        <div class="header-search">
          <%= form_with( local: true, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "スケジュールを検索", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="shift-screen-main">
      <div class="schedules">
        <div class="schedule">
          <div class="schedule-name">
          </div>
          <div class="schedule-date">
          </div>
        </div>
      </div>
    <%# </div> %>
    <%# <div class="main-footer"> %>
      <%# <div class="create-schedule" > %>
        <%# <%= link_to "新規スケジュール作成", "#" %>
      <%# </div> %>
    <%# </div> %>
  </div>
</div>
    <%# <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>