<div class="contents row">
  <div class="container">
  <h2>ルーム作成</h2>
  <%=form_with model: @room, local: true do |f|%>
    <div class="field">
      <%= f.label :ルーム名 %>
      <%= f.text_field :name, autofocus: true, class: "form-input" %>
    </div>
    <div class="member-select">
      <label class="member-select-label">メンバー選択</label>
        <div class="member">     
          <%= f.collection_check_boxes :user_ids, User.where.not(id: current_user.id), :id, :nickname do |user| %>
            <div class="member-name">
              <%= user.check_box %>
              <%= user.label {user.text} %>
            </div>
          <% end %>  
        </div>
      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
    </div>
    <div class="actions">
      <%= f.submit "追加" %>
    </div>
  <% end %>
</div>  