<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="user-detail">
        <div class="user-image">
          <%= image_tag 'icon_sanple.png' , size: '80x80' %>
        </div>
        <div class="user-name">
          <%= link_to current_user.nickname, user_path(current_user.id) %>
        </div>
      </div>
        <div class="create-room">
          <%= link_to new_room_path, class:"bars" do %>
          <% end %>
        </div>
      </div>
    <div class="side-bar-main">
      <div class="side-bar-rooms">
        <p class="rooms-header">ルーム</p>
        <% current_user.rooms.each do |room| %>
          <div class="room">
            <%= link_to room.name, room_path(room.id), class: "room-name" %>
            <% if @room.id == room.id %>
              <%= link_to edit_room_path(@room.id), class:"room-edit-alt" do %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="side-bar-members">
        <p class="room-users-header"><%= "#{@room.name}のメンバー" %></p>
        <% @room.users.where.not(id: current_user.id).each do |user| %>
          <div class="room-user">
            <%= link_to user.nickname, user_path(user.id), class: "room-user-name" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="shift-screen">
    <div class="shift-screen-header">
      <div class="left-header">
        <div class="header-title">
          <%= link_to @room.name , edit_room_path(@room.id) %>
        </div>
      </div>
      <div class="main-header">
        <div class="header-search">
          <%= form_with(url: search_room_path(@room.id), method: :get, local: true, class: "search-form") do |f| %>
          <%= f.text_field :keyword, placeholder: "スケジュールを検索", class: "search-input" %>
          <%= f.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="shift-screen-main">
      <div class="schedules">
        <% @schedules.each do |schedule|%>
            <div class="schedule">
              <%= link_to  room_schedule_path(@room.id, schedule.id), class: "schedule-details" do %>
                <p class="schedule-name"><%= schedule.name %></p>
                <p class="schedule-date"><%= schedule.updated_at.strftime('%Y/%m/%d %H:%M') %></p>
                <%= link_to edit_room_schedule_path(@room.id, schedule.id), class: "schedule-edit-alt" do %>
                <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
        <div class="paginate">
          <%= paginate @schedules %>
        </div>
    </div>
    <div class="main-footer">
      <div class="create-schedule" >
        <%= link_to "新規スケジュール作成", new_room_schedule_path(params[:id]) %>
      </div>
    </div>
  </div>

